<div class="container-fluid">
    <mat-card>
        <mat-card-header>
            <h1>Recupere sua senha</h1>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option value="patient">Paciente</mat-option>
                    <mat-option value="user">Administrador</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>

        <mat-card-content class="mt-2" *ngIf="selected === 'user'">
            <form [formGroup]="form" (keydown.enter)="recoveryPassword()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                        formControlName="email"
                        matInput
                        placeholder="postinhoubs@gov.com.br"
                    />
                    <mat-error>E-mail inválido</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-content class="mt-2" *ngIf="selected === 'patient'">
            <form [formGroup]="form" (keydown.enter)="recoveryPassword()">
                <mat-form-field appearance="outline">
                    <mat-label>Número SUS</mat-label>
                    <input
                        formControlName="susNumber"
                        mask="000000000000000"
                        matInput
                        placeholder="123456789012345"
                    />
                    <mat-error>Numero SUS inválido</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-footer class="mb-2">
            <div class="m-2">
                <button
                    *ngIf="!isLoading"
                    type="submit"
                    mat-fab
                    extended
                    class="login-button"
                    (click)="recoveryPassword()"
                >
                    Recuperar senha
                </button>

                <button
                    type="submit"
                    mat-fab
                    extended
                    class="login-button"
                    *ngIf="isLoading"
                >
                    <mat-icon
                        ><mat-spinner color="accent" diameter="25">
                        </mat-spinner
                    ></mat-icon>
                </button>
            </div>
            <div class="mt-4 mb-3">
                <span>
                    Lembrou da senha?
                    <a href="login"> Faça o login aqui! </a>
                </span>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
