<div class="container-fluid">
    <h1 class="mt-4">{{ nameScreen }}</h1>

    <form [formGroup]="form">
        <div class="mt-2 row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <mat-form-field appearance="outline">
                    <mat-label>CRM</mat-label>
                    <input
                        [ngModel]="doctor ? doctor.crm : ''"
                        matInput
                        mask="000000"
                        formControlName="crm"
                        placeholder="123456"
                    />
                    <mat-error>CRM inválido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input
                        [ngModel]="doctor ? doctor.name : ''"
                        matInput
                        formControlName="name"
                        placeholder="Ana Maria"
                    />
                    <mat-error>Nome inválido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input
                        [ngModel]="doctor ? doctor.email : ''"
                        formControlName="email"
                        matInput
                        placeholder="ana@gmail.com"
                    />
                    <mat-error>E-mail inválido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Especialidade</mat-label>
                    <input
                        [ngModel]="doctor ? doctor.speciality : ''"
                        formControlName="speciality"
                        matInput
                        placeholder="Clinico Geral"
                    />
                    <mat-error>Especialidade inválida</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input
                        [ngModel]="doctor ? doctor.telephone : ''"
                        formControlName="telephone"
                        matInput
                        mask="(00) 00000-0000"
                        placeholder="(35)98765-1234"
                    />
                    <mat-error>Recomendação inválida</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

    <button
        mat-fab
        extended
        class="mt-2 create-button"
        [disabled]="form.invalid"
        (click)="doctor ? updateDoctor() : createDoctor()"
    >
        {{ nameButton }}
    </button>

    <button mat-fab extended class="mt-2 mb-3 cancel-button" (click)="cancel()">
        Cancelar
    </button>
</div>
