.container-fluid {
    background-color: #1c1c39;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 700px;
    text-align: center;
    border-radius: 30px;

    mat-card-header {
        justify-content: center;
    }
}

mat-form-field {
    width: 100%;
    margin-bottom: 5px;
}

button {
    width: 75%;
}

@media screen and (max-width: 720px) {
    mat-form-field,
    button {
        width: 100%;
    }

    mat-card {
        width: auto;
        margin: 20px 0 20px 0;
    }
    .container-fluid {
        height: auto;
    }
}

.login-button {
    background-color: #4e4feb;
}

a,
span {
    color: black;
    font-size: larger;
    font-weight: 500;
}

h1 {
    font-weight: 700;
}
