.card {
    display: flex;
    height: calc(100vh - 4rem);
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cards-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

:host ::ng-deep .p-card .p-card-content {
    font-size: 50px;
    text-align: center;
}

:host ::ng-deep .p-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p-table,
p-toolbar {
    width: 100% !important;
}

th,
td {
    text-align: center !important;
}

.table {
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 500px) {
    .card,
    .table {
        height: auto;
    }

    .cards-appointments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    :host ::ng-deep .p-card {
        width: auto !important;
    }
}
