<div class="card" *ngIf="!isLoading">
    <div class="cards-dashboard mt-4 mb-4">
        <p-card
            class="mt-4"
            header="Total Consultas Diária"
            [style]="{
                width: '360px',
                borderRadius: '15px',
                boxShadow: 'none',
                backgroundColor: '#1C1C39',
                height: '200px',
                color: 'white',
                display: 'flex',
                justifyContent: 'center'
            }"
        >
            <ng-template pTemplate="content">
                <b
                    ><span>{{
                        dashboard ? dashboard.numberAppointmentsAtDay : 0
                    }}</span></b
                >
            </ng-template>
        </p-card>

        <p-card
            class="mt-4"
            header="Consultas Cadastradas"
            [style]="{
                width: '360px',
                borderRadius: '15px',
                boxShadow: 'none',
                height: '200px',
                backgroundColor: '#1C1C39',
                color: 'white',
                display: 'flex',
                justifyContent: 'center'
            }"
        >
            <ng-template
                pTemplate="content"
                *ngIf="
                    dashboard.numberAppointments.length != 0;
                    else noAppointments
                "
            >
                <b *ngFor="let appointment of dashboard.numberAppointments"
                    ><span style="font-size: 24px"
                        >{{ appointment.speciality }} :
                    </span>
                    <span style="font-size: 24px">{{ appointment.count }}</span>
                    <br />
                </b>
            </ng-template>

            <ng-template #noAppointments>
                <b><span>0</span></b>
            </ng-template>
        </p-card>
    </div>

    <div class="table mt-4">
        <p-table
            #dt1
            [value]="medicines"
            [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }"
            scrollHeight="500px"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20%">Nome</th>
                    <th style="width: 20%">Fabricante</th>
                    <th style="width: 20%">Quantidade</th>
                    <th style="width: 20%">Unidade</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-medicines>
                <tr
                    [ngClass]="
                        medicines.quantity < 100
                            ? 'text-danger'
                            : medicines.quantity >= 100 &&
                              medicines.quantity <= 200
                            ? 'text-warning'
                            : 'text-primary'
                    "
                >
                    <td>{{ medicines.name }}</td>
                    <td>{{ medicines.manufacturer }}</td>
                    <td>{{ medicines.quantity }}</td>
                    <td>{{ medicines.packaging }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
